@using TimeTracker.Shared.Model

<div class="container">
                <form class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <h5>Add new project</h5>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 field-label-responsive">
                            <label for="username">Project name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                    <input type="text" class="form-control" placeholder="Project name" required autofocus bind="@Name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-control-feedback">
                                <span class="text-danger align-middle">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 field-label-responsive">
                            <label for="password">Description</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-danger">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                    <input type="text" class="form-control" 
                                           placeholder="Description" required bind="@Description"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-control-feedback">
                                <span class="text-danger align-middle">
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success" onclick="@CreateProject"><i class="fa fa-user-plus"></i>Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
@functions
{
    public string Name { get; set; }
    public string Description { get; set; }

    public Func<CreateProjectModel, Task> OnCreate { get; set; }
    public Guid UserId { get; set; }

    private void CreateProject()
    {
        OnCreate(new CreateProjectModel(Name, Description, UserId));
        Name = "";
        Description = "";
    }
}