@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using TimeTracker.Shared
@inject HttpClient http

<h3>Chart</h3>
@if (Project != null)
{
    <button class="btn btn-success" onclick="@(() => loadActivityDurations())">Activity Durations</button>
    <button class="btn btn-success" onclick="@(() => loadLabelDurations())">Label Durations</button>
}
else
{
    <div>Please select a project</div>
}
<div id="chart"></div>

@functions{
    [Parameter]
    private Project Project { get; set; }

    public async Task loadActivityDurations()
    {
        RegisteredFunction.Invoke<bool>("drawPieChart", await http.GetStringAsync("api/chart/byminutes/" + Project.Id), "Chart: " + Project.Name);
    }

    public async Task loadLabelDurations()
    {
        RegisteredFunction.Invoke<bool>("drawPieChart", await http.GetStringAsync("api/chart/bylabels/" + Project.Id), "Chart: " + Project.Name);
    }
}