@page "/app"
@using TimeTracker.Client.Services
@inject AppState appState

@if (appState.LoggedIn)
{
    <NavMenu state=appState/>
    <ProjectList State=appState Projects=appState.ActiveProjects/>
    <AddProject OnCreate=appState.CreateProject UserId=appState.User.Id/>
}
else
{
    <NavMenu state=appState/>
    <h2>Please log in</h2>
    <a href="/login">Login</a>
}

@functions 
{      
    protected override async Task OnInitAsync()
    {
        appState.OnChange += StateHasChanged;
    }
}