@page "/"
@using TimeTracker.Client.Services
@inject AppState appState

<NavMenu state=appState/>
@if (!appState.LoggedIn)
{
    <Login appState=appState />
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ProjectList Projects=appState.Projects OnCreate=appState.CreateProject UserId=appState.User.Id SetActiveProject=appState.SetActiveProject
                             OnArchiveProject=appState.ChangeProjectState ShowActive=appState.ActiveProjectsShown ChangeListState=appState.ShowOtherProjects />
                <hr />
                <ChartComponent Project="appState.ActiveProject" />
            </div>
            <div class="col-md-8">
                <ProjectDetails Project=appState.ActiveProject SaveActivity=appState.SaveActivity />
            </div>
        </div>
    </div>
}

@functions 
{

    protected override void OnInit()
    {
        appState.OnChange += StateHasChanged;
    }
}