@using TimeTracker.Shared
@using TimeTracker.Shared.Model


@if (Project == null)
{
    <h1>Please select a project</h1>
}
else
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">@Project.Name</h1>
            <p class="lead">@Project.Description</p>
            <hr class="my-4" />
            <div class="row">
                <div class="col-md-6">
                    @if (ShowManualAddition)
                    {
                        <button class="btn btn-info" onclick=@(()=>ShowManualAddition=!ShowManualAddition)>Hide</button>
                        <AddActivityManual SaveActivity=SaveActivity Project=Project.Id />
                    }
                    @if (!ShowManualAddition)
                    {
                        <button class="btn btn-info" onclick=@(() => ShowManualAddition = !ShowManualAddition)>Add Activity Manually</button>
                    }
                </div>
                <div class="col-md-6">
                    <AddActivity Project=Project.Id SaveActivity=SaveActivity />
                </div>
            </div>
            <hr class="my-4" />
            <ActivityList Activities=Project.Activities Project=Project.Id notifyParent=StateHasChanged SaveActivity=SaveActivity />
        </div>
    </div>
}

@functions
{
private Dictionary<Guid, ActivityModel> ActivitiesMap = new Dictionary<Guid, ActivityModel>();
[Parameter]
private Project Project { get; set; }
[Parameter]
private Func<ActivityModel, Task> SaveActivity { get; set; }
private bool ShowManualAddition { get; set; }
}